.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
aside {
    position: fixed;
    left: 0;
    top: 0;
    background: #ff9a9a;
    height: 100%;
    width: 250px;
    transform: translateX(-250px);
    transition: 2s;
    opacity: 0;
}
.is-open {
    transform: translateX(0);
    opacity: 1;
}
