.grid-container{
    /* fraction - относительная величина 1fr / 2fr etc.
      minmax()
        repeat(4, величина(абсолютная или относительная)
      */
    height: 800px;
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    grid-template-columns: minmax(50px, 200px) minmax(100px, 300px) minmax(100px, 300px);
    grid-template-rows: repeat(6 1fr);
    /* row-gap: 20px;
    column-gap: 60px; */
    gap: 10px;
}
.grid-item{
    background-color: #ffaaaa;
    padding: 10px;
}
.item1 {
    background-color: #7cffc6;
    grid-column-start: 2;
    grid-column-end: 4;
    /* grid-column: 2/4; */
}
.item5 {
    background-color: #35b2ff;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
}
.item8 {
    background-color: #f492ff;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-row: 4/6;
    grid-column: 3/4;
}